.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.input-wrapper {
  width: 100%;
  margin-bottom: 32px;
  position: relative;
}

.label {
  position: absolute;
  opacity: 0;
  font-size: 9px;
  line-height: 9px;
  color: $grey-color;
  top: -4px;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.input {
  width: 100%;
  color: $black-color;
  border: none;
  border-bottom: 1px solid $blue-color;
  background-color: transparent;
  padding: 7px 0;
}

.input.error {
  color: $red-color;
}

.input.error ~ span {
  display: block;
}

.error-text {
  font-size: 8px;
  line-height: 8px;
  font-weight: 400;
  color: $red-color;
  margin-top: 8px;
  display: none;
}

.input::placeholder {
  color: $grey-color;
}

.input:focus {
  outline: none;
}

.input:focus + .label {
  opacity: 1;
  top: -8px;
}

.auth-button__wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 14px;
  width: 100%;
}

.link {
  text-decoration: none;
  font-size: 11px;
  line-height: 11px;
  transition: opacity 0.3s ease-in-out;
  color: $blue-color;
}

.link:hover {
  opacity: 0.8;
}

.button {
  background-color: $blue-color;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  color: $white-color;
  width: 100%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}