.profile {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.back-icon__wrapper {
  position: absolute;
  left: 0;
  height: 100%;
  padding: 20px;
  background-color: $border-color;
  box-shadow: 1px 1px 1px 1px $border-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-icon {
  width: 28px;
  height: 28px;
  background-color: $blue-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__content {
  padding: 60px 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__avatar {
  margin-bottom: 90px;
}

.profile__settings {
  width: 100%;
  margin-bottom: 60px;
}

.profile__settings-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $border-color;
}

.setting__name {
  font-size: 13px;
  line-height: 13px;
  color: $black-color;
}

.setting__value {
  font-size: 13px;
  line-height: 13px;
  color: $grey-color;
}

.save-btn__wrapper {
  width: 100%;
  max-width: 300px;
}